<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="https://unpkg.com/vue@3"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="app">
      <div class="container-left">
        <div class="profile">
          <div class="img">
            <img src="./assets/img/avatar_io.jpg" alt="me" />
          </div>
          <div class="setting">
            <ul>
              <li><i class="fa-solid fa-rotate"></i></li>
              <li><i class="fa-solid fa-message"></i></li>
              <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
            </ul>
          </div>
        </div>

        <div class="info">
          <div class="icon">
            <i class="fa-solid fa-bell-slash"></i>
          </div>
          <div class="text">
            <p>Receive notifications for new messages</p>
            <a href="#">Enable desktop notifications</a>
          </div>
        </div>

        <div class="search">
          <button type="submit"><i class="fa fa-search"></i></button>
          <input
            @keyup="filterContacts"
            v-model="search"
            type="text"
            placeholder="Search or start a new chat "
          />
        </div>

        <div class="address-book">
          <div
            class="box"
            v-model="chat"
            v-show="contact.visible"
            v-for="(contact, index) in contacts"
            :class="{'active': index == activeBox}"
            @click="changeBox(index)"
          >
            <div class="avatar">
              <img :src="contact.avatar" alt="avatar_1" />
            </div>
            <div class="infoBox">
              <h3>{{contact.name}}</h3>
              <p>{{contact.text}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-right">
        <div class="openProfile">
          <div class="avatar">
            <img :src="contacts[activeBox].avatar" alt="" />
            {{ contacts[activeBox].name }}
          </div>
          <div class="setting_1">
            <ul>
              <li><i class="fa-solid fa-magnifying-glass"></i></li>
              <li><i class="fa-solid fa-paperclip"></i></li>
              <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
            </ul>
          </div>
        </div>

        <footer>
          <ul>
            <li><i class="fa-regular fa-face-smile"></i></li>
            <li>
              <input
                v-model="sentMessage"
                @keyup.enter="addMessage"
                type="text"
                placeholder="write a message"
              />
            </li>
            <li><i class="fa-solid fa-microphone"></i></li>
          </ul>
        </footer>
      
        <div class="messages">
          <div
            class="send"
            v-for="(message, index) in contacts[activeBox].messages"
            :class="{ received: message.status === 'received' }"
          >
            <div>{{ message.message }}</div>
            <select v-model="messageSelection" @change="selectedMessage(index)">
              <option value="0"><i class="fa-light fa-chevron-down"></i></option>
              <option value="1">Message Info</option>
              <option value="2">Delete message</option>
            </select>
          </div>
        </div>
      </div>

    <script src="./assets/js/app.js"></script>
  </body>
</html>
