body {
  background-color: #dadbd4;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  background-color: #159688;
}

#app {
  position: absolute;
  height: 100vh;
  background-color: aliceblue;
  z-index: 999;
  width: 1200px;
  top: 20px;
  left: 300px;
}

.container {
  width: 80%;
  display: flex;
}

.slider {
  width: 400px;
}

.chat {
  width: 800px;
  background-color: yellow;
}

img {
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

.listIcons ul {
  display: flex;
  list-style-type: none;
}

.listIcons li {
  margin: 20px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: #dadbd4;
  height: 70px;
}

.info {
  background-color: rgb(145 219 250);
  height: 80px;
}

input {
  width: 99%;
  height: 50px;
}

.box {
  display: flex;
  background-color: #159688;
  align-items: center;
  justify-content: space-around;
}

.avatar {
  width: 70px;
  margin-top: 10px;
}

.user h3 {
  margin-top: 30px;
}

.user p {
  margin-bottom: 30px;
}
