body {
  background-color: #dadbd4;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  background-color: #159688;
}

#app {
  position: absolute;
  height: 100vh;
  background-color: aliceblue;
  z-index: 999;
  width: 1200px;
  top: 20px;
  left: 300px;
}

.container {
  width: 80%;
  display: flex;
}

.slider {
  width: 400px;
}

.chat {
  width: 800px;
  background-color: yellow;
  background-image: url(../img/mine.jpg);
  object-fit: cover;
}

.search {
  height: 60px;
  background-color: white;
  display: flex;
  width: 100%;
}

input {
  width: 100%;
  height: 50px;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 1px;
  background-color: rgb(195, 233, 152);
}

img {
  width: 60px;
  border-radius: 50%;
  margin: 10px;
}

.listIcons ul {
  display: flex;
  list-style-type: none;
}

.listIcons li {
  margin: 20px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: #dadbd4;
  height: 70px;
}

.info {
  background-color: rgb(145 219 250);
  height: 80px;
}

.avatar {
  width: 70px;
  margin-top: 10px;
}

.user h3 {
  margin-top: 30px;
}

.user p {
  margin-bottom: 30px;
}
/* Stili per la finestra di chat */
.chat-window {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
